# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following prisma+postgres URL is similar to the URL produced by running a local Prisma Postgres 
# server with the prisma dev CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# === PostgreSQL Database ===
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=coffee-shop-api
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"

# === App Port ===
LOCALHOST=localhost
PORT=3000
PROTOCOL=http

# === App State ===
NODE_ENV=development
API_PREFIX="/api/v1"

# === DBMS Container ===
DBMS_CONTAINER_SERVICE=postgres
DBMS_CONTAINER_IMAGE=postgres
DBMS_CONTAINER_NAME=coffee_shop_postgres
DBMS_CONTAINER_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DBMS_CONTAINER_SERVICE}:${DB_PORT}/${DB_NAME}"

# === Container Network ===
CUSTOM_NETWORK=coffee_shop_net
CUSTOM_NETWORK_NAME=coffee-shop-net

# === BE App Container ===
BE_APP_CONTAINER_DOCKERFILE=Dockerfile
BE_APP_CONTAINER_NAME=coffee_shop_api
BE_APP_CONTAINER_PORTS=3000

# === Docker YAML Files ===
FULL_YAML=docker-compose.full.yaml
REGULAR_YAML=docker-compose.yaml

# === NVM ===
NVM_DIR="$HOME/.nvm"
NODE_REQUIRED_MAJOR=20

# === DB RETRIES ===
MAX_RETRIES=30

# === PRISMA ===
PRISMA_SEED_FILE_PATH=prisma/seed.ts
PRISMA_SEED_SCRIPT_NAME=seed

# === Package JSON ===
PACKAGE_JSON_DEV_SCRIPT_NAME=dev
